body {

    margin: 0;
  
    padding: 0;
  
    max-width: inherit;
  
    background: #FFF9F9;
  
    color: #1C1C1C
  
  }
  
  header{
  
    font-size: xx-large;
  
    text-align: center;
  
    padding: 0.3em 0;
  
    background-color: #F2EDED;
  
    color: #1C1C1C;
  
  }
  
  footer {
  
    font-size: medium;
  
    text-align: center;
  
    padding: 0.3em 0;
  
    background-color: #F2EDED;
  
    color: #1C1C1C;
  
  }
  
  nav { background: #EDE6E6; }
  
  main { background: #D8DDDE; }
  
  aside { background: #EDE6E6; }
  
  body {
  
    min-height: 100vh;
  
    display: flex;
  
    flex-direction: column;
  
  }
  
  .container {
  
    display: flex;
  
    flex: 1;
  
  }
  
  main {
  
    flex: 1;
  
    padding: 0 20px;
  
  }
  
  nav {
  
    flex: 0 0 180px;
  
    padding: 0 10px;
  
    order: -1;
  
  }
  
  aside {
  
    flex: 0 0 130px;
  
    padding: 0 10px;
  
  }